<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Royalty-Turbo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <connectionStrings>
        <add name="DefaultConnection" connectionString="Password=victorSql07#;Persist Security Info=True;User ID=sa;Initial Catalog=Royalty-Christian-Centre;Data Source=DESKTOP-93A0QUC"
            providerName="System.Data.SqlClient" />
        <add name="DefaultOLEDB" connectionString="Provider=MSOLEDBSQL;Server=DESKTOP-93A0QUC;Database=Royalty-Christian-Centre;UID=sa;PWD=victorSql07#;"
            providerName="System.Data.SqlClient" />
        <add name="Royalty_Turbo.Properties.Settings.Royalty_Christian_CentreConnectionString"
            connectionString="Data Source=DESKTOP-93A0QUC;Initial Catalog=Royalty-Christian-Centre;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>
